<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <%- include('../layouts/frontend/head') %>
    <body class="stretched">
        <div id="wrapper" class="clearfix">
            <%- include('../layouts/frontend/top-header') %>
            <header id="header" class="sticky-style-2">
                <%- include('../layouts/frontend/mid-header') %>
                <%- include('../layouts/frontend/menu') %>
            </header>

<div class="banner">
   <div class="overlay"></div>
  <div class="inner-banner container">
     
      <div class="inner-banner-title">
           <h4>My Cart</h4>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active"><a href="">My Cart</a></li>
          </ol>
      </div>
     
  </div>
</div>

<div class="listing container mt-4 mb-4">
    <ol class="breadcrumb" >
           <li class="breadcrumb-item"><a href="">Home</a></li>
           <!-- <li class="breadcrumb-item "><a href="">Books</a></li> -->
            <li class="breadcrumb-item active"><a href="">My Cart</a></li>
         </ol>
</div>

<section id="content">
    <div class="">
    <div class="container clearfix">
    <div class="table-responsive">
    <table class="table cart">
    <thead>
    <tr>
    <th class="cart-product-remove">&nbsp;</th>
    <th class="cart-product-thumbnail">&nbsp;</th>
    <th class="cart-product-name">Product</th>
    <th class="cart-product-price">Unit Price</th>
    <th class="cart-product-quantity">Quantity</th>
    <th class="cart-product-subtotal">Total</th>
    </tr>
    </thead>
    <tbody>


<% cartProduct.products.forEach(function(data){ %>
    <tr class="cart_item">
      <td class="cart-product-remove">
         <i class="icon-trash2 remove" onclick="removeItem()"></i>
      </td>
      <td class="cart-product-thumbnail">
         <a href="#"><img width="64" height="64" src="images/backend/products/<%= data.product_image %>" alt="<%= data.product_name %>"></a>
      </td>
      <td class="cart-product-name">
         <a href="#"><%= data.product_name %> </a>
         
         <% if(data.book_type == 'ebook'){ %>
         <span style="font-weight: 700;font-size: 14.5px;color: #dd3a3a;font-family: sans-serif;">(E-Book)</span>
         <% } %>
         <% if(data.book_type == 'paperbook'){ %>
            <span style="font-weight: 700;font-size: 14.5px;color: #dd3a3a;font-family: sans-serif;">(Book)</span>
            <% } %>
            <% if(data.book_type == null){ %>
               <span style="font-weight: 700;font-size: 14.5px;color: #dd3a3a;font-family: sans-serif;">(Stationary)</span>
               <% } %>
      </td>
      <td class="cart-product-price">
         <% if(data.book_type == 'ebook'){ %>
         <span class="amountPerProduct" amountPerProduct="<%= data.ebook_id.ebook_price %>" >Rs  <%= data.ebook_id.ebook_price %></span>
            <% }else{ %>

               <span class="amountPerProduct" amountPerProduct="<%= data.product_price %>" >Rs  <%= data.product_price %></span>
                  <% } %>
      </td>
      <td class="cart-product-quantity">
         <div class="quantity clearfix">
            <input type="button" value="-" class="minus"  onclick="productNumberSub()">
            <input type="text" name="quantity"  max="<%= data.product_stock %>" value="<%= data.qty %>" qty="<%= data.qty %>" class="qty" />
            <input type="button" value="+" class="plus" onclick="productNumberAdd()">
         </div>
      </td>
      <td class="cart-product-subtotal">
         <span class="amountTotal" style="color: #145ba2;"></span>
      </td>
    </tr>
<% }) %>  



    
  
    <tr class="cart_item" style="margin-top: 10px;">
    <td colspan="6">
    <div class="row clearfix" style="padding-top: 15px;">
    <!-- <div class="col-lg-4 col-4 nopadding">
    <div class="row">
    <div class="col-lg-8 col-7">
    <input type="text" value="" class="sm-form-control" placeholder="Enter Coupon Code.." />
    </div>
    <div class="col-lg-4 col-5">
    <a href="#" class="button button-3d button-black nomargin">Apply Coupon</a>
    </div>
    </div>
    </div> -->
    <div class="col-lg-8 col-8 nopadding">
    <a href="shop.html" class="button button-3d notopmargin fright">Proceed to Checkout</a>
    <a href="#" class="button button-3d nomargin fright">Update Cart</a>
    </div>
    </div>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    <br>
    <br>
    <div class="row clearfix" style="padding-bottom: 40px;">
    <div class="col-lg-5 clearfix" style="padding-top: 19px;">
    
    <form>
    <div class="col_full">
      <h4 style="margin-bottom: 7px;">City</h4>
    <select class="sm-form-control">
    <option value="AX">Kathmandu</option>
    <option value="AF">Bhaktapur</option>
    <option value="AL">Lalitpur</option>
   
    </select>
    </div>
    <div class="col_half">
      <h4 style="margin-bottom: 7px;">Phone Number</h4>
    <input type="text" class="sm-form-control" placeholder="Enter You Phone Number" />
    </div>
    <div class="col_half col_last">
      <h4 style="margin-bottom: 7px;">Street Address</h4>
    <input type="text" class="sm-form-control" placeholder="Street Address" />
    </div>
    <a href="#" class="button button-3d nomargin">Update Totals</a>
    </form>
    </div>
    <div class="col-lg-7 clearfix" id="padding-left" >
    <h4 style="font-size: 25px;margin-bottom: 15px;">Cart Totals</h4>
    <div class="table-responsive">
    <table class="table cart">
    <tbody>
    <tr class="cart_item">
    <td class="cart-product-name">
    <strong>Cart Subtotal</strong>
    </td>
    <td class="cart-product-name">
    <span class="amount" style="color:#145ba2;">Rs <%= cartProduct.total_price %></span>
    </td>
    </tr>
    <tr class="cart_item">
    <td class="cart-product-name">
    <strong>Shipping</strong>
    </td>
    <td class="cart-product-name">
    <span class="amount">Free Delivery</span>
    </td>
    </tr>
    <tr class="cart_item">
    <td class="cart-product-name">
    <strong>Total</strong>
    </td>
    <td class="cart-product-name">
    <span class="amount color lead"><strong>Rs <%= cartProduct.total_price %></strong></span>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    










    <section class="section-padding footer" style="padding: 70px 0px">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-3">
                  <h4 class="mb-5 mt-0" style="margin-bottom: 2rem !important;"><a class="logo" href="index.html">
                     <div>
                         <img src="frontend_images/logo.jpg" alt="gharjaggasansar logo" style="background-color: white;padding: 12px 22px;">
                     </div>
                  
                </a></h4>
                <!--   <p>, Lalitpur<br>Waedll Steet, Australia PA 6550</p> -->
                <div class="footer-contact">
                   <p class="mb-0"><a class="" href="#" style="color: white;"><i class="icon-location"></i> Lagankhel, Lalitpur</a></p>
                  <p class="mb-0"><a class="" href="#" style="color: white;"><i class="icon-phone3"></i> +977985-1075401</a></p>
                  <p class="mb-0"><a class="" href="#" style="color: white;"><i class="icon-line-mail"></i> rubinawale10@gmail.com</a></p>
                  <p class="mb-0"><a class="" href="#" style="color: white;"><i class="icon-world"></i> www.kitabharu.com</a></p> 
                </div>
               

     
               </div>
               <div class="col-lg-2 col-md-2">
                  <h6 class="mb-4">OUR PROPERTIES</h6>
                  <ul>
                  <li><a href="#"><i class="icon-arrow-right1"></i> Popular Listing</a></li>
                  <li><a href="#"><i class="icon-arrow-right1"></i> Basic Listing</a></li>
              
                  </ul>
               </div>
               <div class="col-lg-2 col-md-2">
                  <h6 class="mb-4">QUICK LINKS</h6>
                  <ul>
                  <li><a href="#"><i class="icon-arrow-right1"></i> About Us</a></li>
                  <li><a href="#"><i class="icon-arrow-right1"></i> Our Services</a></li>
                  <li><a href="#"><i class="icon-arrow-right1"></i> Contact Us</a></li>
               <!--    <li><a href="#"><i class="mdi mdi-arrow-right"></i> Land / Plots</a></li>
                  <li><a href="#"><i class="mdi mdi-arrow-right"></i> Restaurent</a></li> -->
                  </ul>
               </div>
               <div class="col-lg-2 col-md-2">
                  <h6 class="mb-4">Follow Us On</h6>
                  <ul>
                  <li><a href="#"><i class="icon-facebook-f"></i> Facebook</a></li>
                  <li><a href="#"><i class="icon-twitter2"></i> Twitter</a></li>
                  <li><a href="#"><i class="icon-linkedin2"></i> LinkedIn</a></li>
                  <li><a href="#"><i class="icon-youtube"></i> Youtube</a></li>
                  </ul>
               </div>
               <div class="col-lg-3 col-md-3">
                <div class="footer-newsletter">
                  <h6 class="mb-4">NEWSLETTER</h6>
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="Email Address">
                     <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" style="background-color: #f3cd11;
    border-color: #f3cd11;"><i class="icon-email2" ></i></button>
                     </div>
                  </div>
                  <p class="text-info newsletter-info">Get the most recent updates from our site and be updated your self...</p>
                <!--   <h6 class="mb-3 mt-4">GET IN TOUCH</h6> -->
            <!--       <div class="footer-social">
                     <a class="btn-facebook" href="#"><i class="mdi mdi-facebook"></i></a>
                  
                     <a class="btn-instagram" href="#"><i class="mdi mdi-instagram"></i></a>
               
                  
                     <a class="btn-google" href="#"><i class="mdi mdi-google"></i></a>
                  </div> -->
                  </div>
                  <div class="footer-payment-icon">
                     <h6 class="mb-4">We Accept</h6>
                     <img src="frontend_images/footer/esewa.jpg" alt="" width="80px" height="50px">
                       <img src="frontend_images/footer/cod.jpg" alt="" width="80px" height="50px">
                        <img src="frontend_images/footer/visa.png" alt="" width="80px" height="50px">
                         <img src="frontend_images/footer/khalti.png" alt="" width="80px" height="50px">
                         <img src="frontend_images/footer/phonepay.jpg" alt="" width="80px" height="50px">
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Footer -->
      <!-- Copyright -->
      <div class=" text-center footer-bottom" >
         <p class="mt-0 mb-0">&copy; Copyright 2020 <strong style="color: #d14031">Smart Innovation</strong>. All Rights Reserved</p>
     <!--     <small class="mt-0 mb-0">
         Made with <i class="mdi mdi-heart text-danger"></i> by <a target="_blank" href="https://giftechies.com/" class="text-warning">Giftechies</a>
         </small> -->
      </div>



</div>
<%- include('../layouts/frontend/script') %>
</body>

<!-- Mirrored from themes.semicolonweb.com/html/canvas/menu-7.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 11 Jan 2020 08:25:24 GMT -->
</html>