<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <%- include('../layouts/frontend/head') %>
    <body class="stretched">
        <div id="wrapper" class="clearfix">
            <%- include('../layouts/frontend/top-header') %>
            <header id="header" class="sticky-style-2">
                <%- include('../layouts/frontend/mid-header') %>
                <%- include('../layouts/frontend/menu') %>
            </header>

<div class="banner">
   <div class="overlay"></div>
  <div class="inner-banner container">
     
      <div class="inner-banner-title">
           <h4>Contact Us</h4>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active"><a href="">Contact Us</a></li>
          </ol>
      </div>
     
  </div>
</div>

   <section class="section bg-white">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-4 contact-us">
                  <div class="section-title" style="border-bottom: none;">
                     <h2 class="mt-1 mb-5">Get In Touch</h2>
                  </div>
                  <h6 class="text-dark"><i class="icon-location"></i> Address :</h6>
                  <p> Lagankhel, Lalitpur</p>
                  <h6 class="text-dark"><i class="icon-phone3"></i> Phone :</h6>
                  <p> +977985-1075401</p>
             
                  <h6 class="text-dark"><i class="icon-line-mail"></i> Email :</h6>
                  <p> rubinawale10@gmail.com</p>
                  <h6 class="text-dark"><i class="icon-world"></i> Website :</h6>
                  <p>www.kitabharu.com</p>
               </div>
               <form class="col-lg-8 col-md-8" name="sentMessage" id="contactForm" novalidate>
                  <div class="section-title" style="border-bottom: none;">
                     <h2 class="mt-1 mb-5">Contact Us</h2>
                  </div>
                  <div class="control-group form-group">
                     <div class="controls">
                        <label>Full Name <span class="text-danger">*</span></label>
                        <input type="text" placeholder="Full Name" class="form-control" id="name" required data-validation-required-message="Please enter your name." autocomplete="off">
                        <p class="help-block"></p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="control-group form-group col-md-6">
                        <label>Phone Number <span class="text-danger">*</span></label>
                        <div class="controls">
                           <input type="tel" placeholder="Phone Number" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                        </div>
                     </div>
                     <div class="control-group form-group col-md-6">
                        <div class="controls">
                           <label>Email Address <span class="text-danger">*</span></label>
                           <input type="email" placeholder="Email Address"  class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                        </div>
                     </div>
                  </div>
                  <div class="control-group form-group">
                     <div class="controls">
                        <label>Message <span class="text-danger">*</span></label>
                        <textarea rows="4" cols="100" placeholder="Message"  class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999"></textarea>
                     </div>
                  </div>
                  <div id="success"></div>
                  <!-- For success/fail messages -->
                  <button type="submit" class="btn btn-secondary btn-lg">Send Message</button>
               </form>
            </div>
         </div>
      </section>

   <section class="section-map" style="border-top: 4px solid #145ba2;">
         <div class="map" style="margin-bottom: -6px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7067.383660958967!2d85.31964989729198!3d27.66500468090022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19da0758c081%3A0x2a3ed12f74626419!2z4KSy4KSX4KSo4KSW4KWH4KSyLCDgpLLgpLLgpL_gpKTgpKrgpYHgpLA!5e0!3m2!1sne!2snp!4v1604505865487!5m2!1sne!2snp" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
         </div>
      </section>










    <section class="section-padding footer" style="padding: 70px 0px">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-3">
                  <h4 class="mb-5 mt-0" style="margin-bottom: 2rem !important;"><a class="logo" href="index.html">
                     <div>
                         <img src="frontend_images/logo.jpg" alt="gharjaggasansar logo" style="background-color: white;padding: 12px 22px;">
                     </div>
                  
                </a></h4>
                <!--   <p>, Lalitpur<br>Waedll Steet, Australia PA 6550</p> -->
                <div class="footer-contact">
                   <p class="mb-0"><a class="" href="#" style="color: white;"><i class="icon-location"></i> Lagankhel, Lalitpur</a></p>
                  <p class="mb-0"><a class="" href="#" style="color: white;"><i class="icon-phone3"></i> +977985-1075401</a></p>
                  <p class="mb-0"><a class="" href="#" style="color: white;"><i class="icon-line-mail"></i> rubinawale10@gmail.com</a></p>
                  <p class="mb-0"><a class="" href="#" style="color: white;"><i class="icon-world"></i> www.kitabharu.com</a></p> 
                </div>
               

     
               </div>
               <div class="col-lg-2 col-md-2">
                  <h6 class="mb-4">OUR PROPERTIES</h6>
                  <ul>
                  <li><a href="#"><i class="icon-arrow-right1"></i> Popular Listing</a></li>
                  <li><a href="#"><i class="icon-arrow-right1"></i> Basic Listing</a></li>
              
                  </ul>
               </div>
               <div class="col-lg-2 col-md-2">
                  <h6 class="mb-4">QUICK LINKS</h6>
                  <ul>
                  <li><a href="#"><i class="icon-arrow-right1"></i> About Us</a></li>
                  <li><a href="#"><i class="icon-arrow-right1"></i> Our Services</a></li>
                  <li><a href="#"><i class="icon-arrow-right1"></i> Contact Us</a></li>
               <!--    <li><a href="#"><i class="mdi mdi-arrow-right"></i> Land / Plots</a></li>
                  <li><a href="#"><i class="mdi mdi-arrow-right"></i> Restaurent</a></li> -->
                  </ul>
               </div>
               <div class="col-lg-2 col-md-2">
                  <h6 class="mb-4">Follow Us On</h6>
                  <ul>
                  <li><a href="#"><i class="icon-facebook-f"></i> Facebook</a></li>
                  <li><a href="#"><i class="icon-twitter2"></i> Twitter</a></li>
                  <li><a href="#"><i class="icon-linkedin2"></i> LinkedIn</a></li>
                  <li><a href="#"><i class="icon-youtube"></i> Youtube</a></li>
                  </ul>
               </div>
               <div class="col-lg-3 col-md-3">
                <div class="footer-newsletter">
                  <h6 class="mb-4">NEWSLETTER</h6>
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="Email Address">
                     <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" style="background-color: #f3cd11;
    border-color: #f3cd11;"><i class="icon-email2" ></i></button>
                     </div>
                  </div>
                  <p class="text-info newsletter-info">Get the most recent updates from our site and be updated your self...</p>
                <!--   <h6 class="mb-3 mt-4">GET IN TOUCH</h6> -->
            <!--       <div class="footer-social">
                     <a class="btn-facebook" href="#"><i class="mdi mdi-facebook"></i></a>
                  
                     <a class="btn-instagram" href="#"><i class="mdi mdi-instagram"></i></a>
               
                  
                     <a class="btn-google" href="#"><i class="mdi mdi-google"></i></a>
                  </div> -->
                  </div>
                  <div class="footer-payment-icon">
                     <h6 class="mb-4">We Accept</h6>
                     <img src="frontend_images/footer/esewa.jpg" alt="" width="80px" height="50px">
                       <img src="frontend_images/footer/cod.jpg" alt="" width="80px" height="50px">
                        <img src="frontend_images/footer/visa.png" alt="" width="80px" height="50px">
                         <img src="frontend_images/footer/khalti.png" alt="" width="80px" height="50px">
                         <img src="frontend_images/footer/phonepay.jpg" alt="" width="80px" height="50px">
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Footer -->
      <!-- Copyright -->
      <div class=" text-center footer-bottom" >
         <p class="mt-0 mb-0">&copy; Copyright 2020 <strong style="color: #d14031">Smart Innovation</strong>. All Rights Reserved</p>
     <!--     <small class="mt-0 mb-0">
         Made with <i class="mdi mdi-heart text-danger"></i> by <a target="_blank" href="https://giftechies.com/" class="text-warning">Giftechies</a>
         </small> -->
      </div>



</div>
<%- include('../layouts/frontend/script') %>
</body>

<!-- Mirrored from themes.semicolonweb.com/html/canvas/menu-7.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 11 Jan 2020 08:25:24 GMT -->
</html>