<html dir="ltr" lang="en-US">
    <%- include('../layouts/frontend/head') %>
    <body class="stretched">
        <div id="wrapper" class="clearfix">
            <%- include('../layouts/frontend/top-header') %>
            <header id="header" class="sticky-style-2">
                <%- include('../layouts/frontend/mid-header') %>
                <%- include('../layouts/frontend/menu') %>
            </header>

<div class="banner">
   <div class="overlay"></div>
  <div class="inner-banner container">
     
      <div class="inner-banner-title">
           <h4>Our E-Books</h4>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active"><a href="">E-Books</a></li>

          </ol>
      </div>
     
  </div>
</div>

<div class="listing container mt-4 mb-4">
     <ol class="breadcrumb" >
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item "><a href="">E-Books</a></li>
             <li class="breadcrumb-item active"><a href="">Biography</a></li>
          </ol>
</div>

<div class="container" style="margin-bottom: 35px;">
  <div class="row">
    <div class="col-md-3">
        <div class="listing-aside-filter">
          <div class="aside-filter-title">
            <h4>Books Category</h4>
            <hr>
          </div>
          <div class="">
        <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="new">
    <label class="form-check-label small text-uppercase card-link-secondary" for="new">Astrology</label>
  </div>
  <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="used">
    <label class="form-check-label small text-uppercase card-link-secondary" for="used">Ayurveda</label>
  </div>
  <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="collectible">
    <label class="form-check-label small text-uppercase card-link-secondary" for="collectible">Cookbooks</label>
  </div>
  <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="renewed">
    <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">Fashion</label>
  </div>
    <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="renewed">
    <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">Gems and jewelleries</label>
  </div>
    <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="renewed">
    <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">Mind, Body & Spirit</label>
  </div>
    <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="renewed">
    <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">Pregnancy</label>
  </div>
     <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="renewed">
    <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">Pregnancy</label>
  </div>
     <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="renewed">
    <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">Spiritual</label>
  </div>
     <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="renewed">
    <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">Tarot</label>
  </div>
     <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="renewed">
    <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">Yoga</label>
  </div>

          </div>

            
        </div>


                <div class="listing-aside-filter">
          <div class="aside-filter-title">
            <h4>Price</h4>
            <hr>
          </div>
          <div class="">
        <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="new">
    <label class="form-check-label small text-uppercase card-link-secondary" for="new">0-500</label>
  </div>
  <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="used">
    <label class="form-check-label small text-uppercase card-link-secondary" for="used">500-1000</label>
  </div>
  <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="collectible">
    <label class="form-check-label small text-uppercase card-link-secondary" for="collectible">1000-1500</label>
  </div>
  <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="renewed">
    <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">More than 1500</label>
  </div>
</div>

            
        </div>


        <div class="listing-aside-filter">
          <div class="aside-filter-title">
            <h4>Language</h4>
            <hr>
          </div>
          <div class="">
        <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="new">
    <label class="form-check-label small text-uppercase card-link-secondary" for="new">English</label>
  </div>
  <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="used">
    <label class="form-check-label small text-uppercase card-link-secondary" for="used">Nepali</label>
  </div>
  <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="collectible">
    <label class="form-check-label small text-uppercase card-link-secondary" for="collectible">Chinese</label>
  </div>
  <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="renewed">
    <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">Hindi</label>
  </div>
    <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="renewed">
    <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">Japanese</label>
  </div>
    <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="renewed">
    <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">French</label>
  </div>
    <div class="form-check pl-0 mb-1">
    <input type="checkbox" class="form-check-input filled-in" id="renewed">
    <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">Others</label>
  </div>
          </div>

            
        </div>
<!-- Section: Condition -->
    </div>
    <div class="col-md-9">
      <div class="row book-listing-page">
        <div class="col-md-3">
              <div class="new-arrival-books">
          <img src="frontend_images/books/9789937905831-thumbnail-175x255-70.jpg" alt="" style="width: 100%;height: 235px;">
           <div class="new-arrival-books-desc">
           
            <h4>विनोद चौधरी</h4>
             <span style="font-size: 14px;color: #8b8b8b">Sameer Awale</span>
            <div class="price-box">
                 <h4>Rs. 1100</h4>
            </div>
          </div>
               <div class="view-book">
            <button type="" class="form-control"><i class="icon-line-eye"></i>&nbsp;&nbsp;View Details</button>
            <button type="" class="form-control"><i class="icon-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
          </div>
        </div>
          
        </div>
         <div class="col-md-3">
        <div class="new-arrival-books">
          <img src="frontend_images/books/Tyes_Bakhat_ko_Nepal_-_Part_1_to_5_-_Bhim_Bahadur_Pandey-thumbnail-175x255-70.jpg" alt="" style="width: 100%;height: 235px;">
           <div class="new-arrival-books-desc">
          <!--    <span>Auther: Rozen Awale</span> -->
            <h4>त्यस बखतको नेपाल</h4>
            <span style="font-size: 14px;color: #8b8b8b"> Aileen Nedd</span>
            <div class="price-box">
                 <h4>Rs. 1500</h4>
            </div>
          </div>


           <div class="view-book">
            <button type="" class="form-control"><i class="icon-line-eye"></i>&nbsp;&nbsp;View Details</button>
            <button type="" class="form-control"><i class="icon-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
          </div>
        </div>
        </div>
         <div class="col-md-3">
          <div class="new-arrival-books">
          <img src="frontend_images/books/Durbarko_Dukhanta-thumbnail-175x255-70.jpg" alt="" style="width: 100%;height: 235px;">
           <div class="new-arrival-books-desc">
            <h4>दरबारको दुःखान्त</h4>
                <span style="font-size: 14px;color: #8b8b8b"> Aileen Nedd</span>
            <div class="price-box">
                 <h4>Rs. 1500</h4>
            </div>
          </div>
           <div class="view-book">
            <button type="" class="form-control"><i class="icon-line-eye"></i>&nbsp;&nbsp;View Details</button>
            <button type="" class="form-control"><i class="icon-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
          </div>
        </div>
        </div>
            <div class="col-md-3">
            <div class="new-arrival-books">
          <img src="frontend_images/books/_Sambandhaharu_By_Vijay_Kumar-thumbnail-175x255-70.jpg" alt="" style="width: 100%;height: 235px;">
          <div class="new-arrival-books-desc">
          <h4>सम्बन्धहरु</h4>
             <span style="font-size: 14px;color: #8b8b8b">Sameer Awale</span>
            <div class="price-box">

                 <h4>Rs. 1100</h4>
            </div> 
          </div>
          <div class="view-book">
            <button type="" class="form-control"><i class="icon-line-eye"></i>&nbsp;&nbsp;View Details</button>
            <button type="" class="form-control"><i class="icon-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
          </div>
        </div>
        </div>
         <div class="col-md-3">
              <div class="new-arrival-books">
          <img src="frontend_images/books/Atikramanko_Chapetama_Limpiyadhura_Lipulek_by_Ratan_Bhandari_-_front-thumbnail-175x255-70.jpg" alt="" style="width: 100%;height: 235px;">
           <div class="new-arrival-books-desc">
           
            <h4>अतिक्रमणको चपेटामा लिम्पियाधुरा-लिपुलेक</h4>
             <span style="font-size: 14px;color: #8b8b8b">Sameer Awale</span>
            <div class="price-box">
                 <h4>Rs. 1100</h4>
            </div>
          </div>
               <div class="view-book">
            <button type="" class="form-control"><i class="icon-line-eye"></i>&nbsp;&nbsp;View Details</button>
            <button type="" class="form-control"><i class="icon-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
          </div>
        </div>
          
        </div>
         <div class="col-md-3">
        <div class="new-arrival-books">
          <img src="frontend_images/books/Ranahar-front-thumbnail-175x255-70.jpg" alt="" style="width: 100%;height: 235px;">
           <div class="new-arrival-books-desc">
          <!--    <span>Auther: Rozen Awale</span> -->
            <h4>रणहार</h4>
            <span style="font-size: 14px;color: #8b8b8b"> Aileen Nedd</span>
            <div class="price-box">
                 <h4>Rs. 1500</h4>
            </div>
          </div>


           <div class="view-book">
            <button type="" class="form-control"><i class="icon-line-eye"></i>&nbsp;&nbsp;View Details</button>
            <button type="" class="form-control"><i class="icon-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
          </div>
        </div>
        </div>
         <div class="col-md-3">
          <div class="new-arrival-books">
          <img src="frontend_images/books/Kumari_Prashnaharu_by_Durga_Karki_-_front-thumbnail-175x255-70.jpg" alt="" style="width: 100%;height: 235px;">
           <div class="new-arrival-books-desc">
            <h4>कुमारी प्रश्नहरु</h4>
                <span style="font-size: 14px;color: #8b8b8b"> Aileen Nedd</span>
            <div class="price-box">
                 <h4>Rs. 1500</h4>
            </div>
          </div>
           <div class="view-book">
            <button type="" class="form-control"><i class="icon-line-eye"></i>&nbsp;&nbsp;View Details</button>
            <button type="" class="form-control"><i class="icon-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
          </div>
        </div>
        </div>
            <div class="col-md-3">
            <div class="new-arrival-books">
          <img src="frontend_images/books/koreana_coffee_guff-thumbnail-175x255-70.jpg" alt="" style="width: 100%;height: 235px;">
          <div class="new-arrival-books-desc">
          <h4>कोरियाना कफी गफ</h4>
             <span style="font-size: 14px;color: #8b8b8b">Sameer Awale</span>
            <div class="price-box">

                 <h4>Rs. 1100</h4>
            </div> 
          </div>
          <div class="view-book">
            <button type="" class="form-control"><i class="icon-line-eye"></i>&nbsp;&nbsp;View Details</button>
            <button type="" class="form-control"><i class="icon-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
          </div>
        </div>
        </div>

               <div class="col-md-3">
            <div class="new-arrival-books">
          <img src="frontend_images/books/Khalanga_ma_Hamala_by_Radha_Paudel-thumbnail-175x255-70.jpg" alt="" style="width: 100%;height: 235px;">
          <div class="new-arrival-books-desc">
          <h4>खलंगामा हमला</h4>
             <span style="font-size: 14px;color: #8b8b8b">Sameer Awale</span>
            <div class="price-box">

                 <h4>Rs. 1100</h4>
            </div> 
          </div>
          <div class="view-book">
            <button type="" class="form-control"><i class="icon-line-eye"></i>&nbsp;&nbsp;View Details</button>
            <button type="" class="form-control"><i class="icon-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
          </div>
        </div>
        </div>
         <div class="col-md-3">
              <div class="new-arrival-books">
          <img src="frontend_images/books/Arthat_Arthatantra_-_Sujeev_Shakya_-thumbnail-175x255-70.jpg" alt="" style="width: 100%;height: 235px;">
           <div class="new-arrival-books-desc">
           
            <h4>अर्थात् अर्थतन्त्र</h4>
             <span style="font-size: 14px;color: #8b8b8b">Sameer Awale</span>
            <div class="price-box">
                 <h4>Rs. 1100</h4>
            </div>
          </div>
               <div class="view-book">
            <button type="" class="form-control"><i class="icon-line-eye"></i>&nbsp;&nbsp;View Details</button>
            <button type="" class="form-control"><i class="icon-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
          </div>
        </div>
          
        </div>
         <div class="col-md-3">
        <div class="new-arrival-books">
          <img src="frontend_images/books/9789937874076-thumbnail-175x255-70.jpg" alt="" style="width: 100%;height: 235px;">
           <div class="new-arrival-books-desc">
          <!--    <span>Auther: Rozen Awale</span> -->
            <h4>रुकमाङ्गद कटवाल</h4>
            <span style="font-size: 14px;color: #8b8b8b"> Aileen Nedd</span>
            <div class="price-box">
                 <h4>Rs. 1500</h4>
            </div>
          </div>


           <div class="view-book">
            <button type="" class="form-control"><i class="icon-line-eye"></i>&nbsp;&nbsp;View Details</button>
            <button type="" class="form-control"><i class="icon-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
          </div>
        </div>
        </div>
         <div class="col-md-3">
          <div class="new-arrival-books">
          <img src="frontend_images/books/Lok-Sewako-tayari-kasari-garne-front-thumbnail-175x255-70.jpg" alt="" style="width: 100%;height: 235px;">
           <div class="new-arrival-books-desc">
            <h4>लोक सेवाको तयारी कसरी गर्ने</h4>
                <span style="font-size: 14px;color: #8b8b8b"> Aileen Nedd</span>
            <div class="price-box">
                 <h4>Rs. 1500</h4>
            </div>
          </div>
           <div class="view-book">
            <button type="" class="form-control"><i class="icon-line-eye"></i>&nbsp;&nbsp;View Details</button>
            <button type="" class="form-control"><i class="icon-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
          </div>
        </div>
        </div>
            <div class="col-md-3">
            <div class="new-arrival-books">
          <img src="frontend_images/books/palpasa_cafe_nepali_frontcover-thumbnail-175x255-70.jpg" alt="" style="width: 100%;height: 235px;">
          <div class="new-arrival-books-desc">
          <h4>पल्पसा क्याफे</h4>
             <span style="font-size: 14px;color: #8b8b8b">Sameer Awale</span>
            <div class="price-box">

                 <h4>Rs. 1100</h4>
            </div> 
          </div>
          <div class="view-book">
            <button type="" class="form-control"><i class="icon-line-eye"></i>&nbsp;&nbsp;View Details</button>
            <button type="" class="form-control"><i class="icon-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
          </div>
        </div>
        </div>
           <div class="col-md-3">
        <div class="new-arrival-books">
          <img src="frontend_images/books/Sanduk_Ruit_by_Ali_Gripper_-_Khagendra_Sangraula_-_Nepali-thumbnail-175x255-70.jpg" alt="" style="width: 100%;height: 235px;">
           <div class="new-arrival-books-desc">
          <!--    <span>Auther: Rozen Awale</span> -->
            <h4>सन्दुक रूइत</h4>
            <span style="font-size: 14px;color: #8b8b8b"> Aileen Nedd</span>
            <div class="price-box">
                 <h4>Rs. 1500</h4>
            </div>
          </div>


           <div class="view-book">
            <button type="" class="form-control"><i class="icon-line-eye"></i>&nbsp;&nbsp;View Details</button>
            <button type="" class="form-control"><i class="icon-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
          </div>
        </div>
        </div>
         <div class="col-md-3">
          <div class="new-arrival-books">
          <img src="frontend_images/books/9789937874021-thumbnail-175x255-70.jpg" alt="" style="width: 100%;height: 235px;">
           <div class="new-arrival-books-desc">
            <h4>फोसिल</h4>
                <span style="font-size: 14px;color: #8b8b8b"> Aileen Nedd</span>
            <div class="price-box">
                 <h4>Rs. 1500</h4>
            </div>
          </div>
           <div class="view-book">
            <button type="" class="form-control"><i class="icon-line-eye"></i>&nbsp;&nbsp;View Details</button>
            <button type="" class="form-control"><i class="icon-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
          </div>
        </div>
        </div>
             <div class="col-md-3">
              <div class="new-arrival-books">
          <img src="frontend_images/books/Hajuramaka_Katha_by_Amrita_Lamsal-thumbnail-175x255-70.jpeg" alt="" style="width: 100%;height: 235px;">
           <div class="new-arrival-books-desc">
           
            <h4>हजुरआमाका कथा</h4>
             <span style="font-size: 14px;color: #8b8b8b">Sameer Awale</span>
            <div class="price-box">
                 <h4>Rs. 1100</h4>
            </div>
          </div>
               <div class="view-book">
            <button type="" class="form-control"><i class="icon-line-eye"></i>&nbsp;&nbsp;View Details</button>
            <button type="" class="form-control"><i class="icon-cart-plus"></i>&nbsp;&nbsp;Add to Cart</button>
          </div>
        </div>
        </div>
      </div>
      <div class="pagination">
<ul class="pagination pagination-rounded pagination-3d pagination-lg">
<li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span></a></li>
<li class="page-item active"><a class="page-link" href="#">1</a></li>
<li class="page-item"><a class="page-link" href="#">2</a></li>
<li class="page-item"><a class="page-link" href="#">3</a></li>
<li class="page-item"><a class="page-link" href="#">4</a></li>
<li class="page-item"><a class="page-link" href="#">5</a></li>
<li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
</ul>
</div>
    </div>
  </div>
</div>











    <section class="section-padding footer" style="padding: 70px 0px">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-3">
                  <h4 class="mb-5 mt-0" style="margin-bottom: 2rem !important;"><a class="logo" href="index.html">
                     <div>
                         <img src="frontend_images/logo.jpg" alt="gharjaggasansar logo" style="background-color: white;padding: 12px 22px;">
                     </div>
                  
                </a></h4>
                <!--   <p>, Lalitpur<br>Waedll Steet, Australia PA 6550</p> -->
                <div class="footer-contact">
                   <p class="mb-0"><a class="" href="#" style="color: white;"><i class="icon-location"></i> Lagankhel, Lalitpur</a></p>
                  <p class="mb-0"><a class="" href="#" style="color: white;"><i class="icon-phone3"></i> +977985-1075401</a></p>
                  <p class="mb-0"><a class="" href="#" style="color: white;"><i class="icon-line-mail"></i> rubinawale10@gmail.com</a></p>
                  <p class="mb-0"><a class="" href="#" style="color: white;"><i class="icon-world"></i> www.kitabharu.com</a></p> 
                </div>
               

     
               </div>
               <div class="col-lg-2 col-md-2">
                  <h6 class="mb-4">OUR PROPERTIES</h6>
                  <ul>
                  <li><a href="#"><i class="icon-arrow-right1"></i> Popular Listing</a></li>
                  <li><a href="#"><i class="icon-arrow-right1"></i> Basic Listing</a></li>
              
                  </ul>
               </div>
               <div class="col-lg-2 col-md-2">
                  <h6 class="mb-4">QUICK LINKS</h6>
                  <ul>
                  <li><a href="#"><i class="icon-arrow-right1"></i> About Us</a></li>
                  <li><a href="#"><i class="icon-arrow-right1"></i> Our Services</a></li>
                  <li><a href="#"><i class="icon-arrow-right1"></i> Contact Us</a></li>
               <!--    <li><a href="#"><i class="mdi mdi-arrow-right"></i> Land / Plots</a></li>
                  <li><a href="#"><i class="mdi mdi-arrow-right"></i> Restaurent</a></li> -->
                  </ul>
               </div>
               <div class="col-lg-2 col-md-2">
                  <h6 class="mb-4">Follow Us On</h6>
                  <ul>
                  <li><a href="#"><i class="icon-facebook-f"></i> Facebook</a></li>
                  <li><a href="#"><i class="icon-twitter2"></i> Twitter</a></li>
                  <li><a href="#"><i class="icon-linkedin2"></i> LinkedIn</a></li>
                  <li><a href="#"><i class="icon-youtube"></i> Youtube</a></li>
                  </ul>
               </div>
               <div class="col-lg-3 col-md-3">
                <div class="footer-newsletter">
                  <h6 class="mb-4">NEWSLETTER</h6>
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="Email Address">
                     <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" style="background-color: #f3cd11;
    border-color: #f3cd11;"><i class="icon-email2" ></i></button>
                     </div>
                  </div>
                  <p class="text-info newsletter-info">Get the most recent updates from our site and be updated your self...</p>
                <!--   <h6 class="mb-3 mt-4">GET IN TOUCH</h6> -->
            <!--       <div class="footer-social">
                     <a class="btn-facebook" href="#"><i class="mdi mdi-facebook"></i></a>
                  
                     <a class="btn-instagram" href="#"><i class="mdi mdi-instagram"></i></a>
               
                  
                     <a class="btn-google" href="#"><i class="mdi mdi-google"></i></a>
                  </div> -->
                  </div>
                  <div class="footer-payment-icon">
                     <h6 class="mb-4">We Accept</h6>
                     <img src="frontend_images/footer/esewa.jpg" alt="" width="80px" height="50px">
                       <img src="frontend_images/footer/cod.jpg" alt="" width="80px" height="50px">
                        <img src="frontend_images/footer/visa.png" alt="" width="80px" height="50px">
                         <img src="frontend_images/footer/khalti.png" alt="" width="80px" height="50px">
                         <img src="frontend_images/footer/phonepay.jpg" alt="" width="80px" height="50px">
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Footer -->
      <!-- Copyright -->
      <div class=" text-center footer-bottom" >
         <p class="mt-0 mb-0">&copy; Copyright 2020 <strong style="color: #d14031">Smart Innovation</strong>. All Rights Reserved</p>
     <!--     <small class="mt-0 mb-0">
         Made with <i class="mdi mdi-heart text-danger"></i> by <a target="_blank" href="https://giftechies.com/" class="text-warning">Giftechies</a>
         </small> -->
      </div>



</div>

<%- include('../layouts/frontend/script') %>
</body>

<!-- Mirrored from themes.semicolonweb.com/html/canvas/menu-7.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 11 Jan 2020 08:25:24 GMT -->
</html>