<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <%- include('../layouts/frontend/head') %>
    <body class="stretched">
        <div id="wrapper" class="clearfix">
            <%- include('../layouts/frontend/top-header') %>
            <header id="header" class="sticky-style-2">
                <%- include('../layouts/frontend/mid-header') %>
                <%- include('../layouts/frontend/menu') %>
            </header>

<div class="banner">
   <div class="overlay"></div>
  <div class="inner-banner container">
     
      <div class="inner-banner-title">
           <h4>Our Publication</h4>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active"><a href="">Publication</a></li>
          </ol>
      </div>
     
  </div>
</div>

<section class="section" style="padding: 80px 0px;">
 <div class="container frontend-publication">

     <div class="row " >
      <div id="oc-images" class="owl-carousel image-carousel carousel-widget" data-margin="35" data-loop="true" data-nav="true"  data-pagi="false"  data-items-xs="1" data-items-sm="3" data-items-lg="4" data-items-xl="5" data-speed="500">
         <div class="oc-item" style="padding: 5px;">
            <div class="new-arrival-books">
            <img src="../frontend_images/publication/logo.jpg" alt="" style="width: 100%;">
       
          </div>
  </div>
         
         
        
       <div class="oc-item" style="padding: 5px;">
         <div class="new-arrival-books">
         <img src="../frontend_images/publication/samikshya1.jpg" alt="" style="width: 100%;">
    
       </div>
</div>
     
       <div class="oc-item" style="padding: 5px;">
         <div class="new-arrival-books">
         <img src="../frontend_images/publication/nepalaya.jpg" alt="" style="width: 100%;">
    
       </div>
</div>

         
       <div class="oc-item" style="padding: 5px;">
         <div class="new-arrival-books">
         <img src="../frontend_images/publication/heritage.jpg" alt="" style="width: 100%;">
    
       </div>
</div>
         
       <div class="oc-item" style="padding: 5px;">
         <div class="new-arrival-books">
         <img src="../frontend_images/publication/ekta.jpg" alt="" style="width: 100%;">
    
       </div>
</div>
        
       <div class="oc-item" style="padding: 5px;">
         <div class="new-arrival-books" >
         <img src="../frontend_images/publication/ratna.jpg" alt="" style="width: 100%;">
    
       </div>
</div>
         <div class="oc-item" style="padding: 5px;">
                   <div class="new-arrival-books">
                   <img src="../frontend_images/publication/samikshya1.jpg" alt="" style="width: 100%;">
              
                 </div>
         </div>
         </div>

     </div>  

   </div>
 </div> 
</section>

    <section class="section-padding footer" style="padding: 70px 0px">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-3">
                  <h4 class="mb-5 mt-0" style="margin-bottom: 2rem !important;"><a class="logo" href="index.html">
                     <div>
                         <img src="frontend_images/logo.jpg" alt="gharjaggasansar logo" style="background-color: white;padding: 12px 22px;">
                     </div>
                  
                </a></h4>
                <!--   <p>, Lalitpur<br>Waedll Steet, Australia PA 6550</p> -->
                <div class="footer-contact">
                   <p class="mb-0"><a class="" href="#" style="color: white;"><i class="icon-location"></i> Lagankhel, Lalitpur</a></p>
                  <p class="mb-0"><a class="" href="#" style="color: white;"><i class="icon-phone3"></i> +977985-1075401</a></p>
                  <p class="mb-0"><a class="" href="#" style="color: white;"><i class="icon-line-mail"></i> rubinawale10@gmail.com</a></p>
                  <p class="mb-0"><a class="" href="#" style="color: white;"><i class="icon-world"></i> www.kitabharu.com</a></p> 
                </div>
               

     
               </div>
               <div class="col-lg-2 col-md-2">
                  <h6 class="mb-4">OUR PROPERTIES</h6>
                  <ul>
                  <li><a href="#"><i class="icon-arrow-right1"></i> Popular Listing</a></li>
                  <li><a href="#"><i class="icon-arrow-right1"></i> Basic Listing</a></li>
              
                  </ul>
               </div>
               <div class="col-lg-2 col-md-2">
                  <h6 class="mb-4">QUICK LINKS</h6>
                  <ul>
                  <li><a href="#"><i class="icon-arrow-right1"></i> About Us</a></li>
                  <li><a href="#"><i class="icon-arrow-right1"></i> Our Services</a></li>
                  <li><a href="#"><i class="icon-arrow-right1"></i> Contact Us</a></li>
               <!--    <li><a href="#"><i class="mdi mdi-arrow-right"></i> Land / Plots</a></li>
                  <li><a href="#"><i class="mdi mdi-arrow-right"></i> Restaurent</a></li> -->
                  </ul>
               </div>
               <div class="col-lg-2 col-md-2">
                  <h6 class="mb-4">Follow Us On</h6>
                  <ul>
                  <li><a href="#"><i class="icon-facebook-f"></i> Facebook</a></li>
                  <li><a href="#"><i class="icon-twitter2"></i> Twitter</a></li>
                  <li><a href="#"><i class="icon-linkedin2"></i> LinkedIn</a></li>
                  <li><a href="#"><i class="icon-youtube"></i> Youtube</a></li>
                  </ul>
               </div>
               <div class="col-lg-3 col-md-3">
                <div class="footer-newsletter">
                  <h6 class="mb-4">NEWSLETTER</h6>
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="Email Address">
                     <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" style="background-color: #f3cd11;
    border-color: #f3cd11;"><i class="icon-email2" ></i></button>
                     </div>
                  </div>
                  <p class="text-info newsletter-info">Get the most recent updates from our site and be updated your self...</p>
                <!--   <h6 class="mb-3 mt-4">GET IN TOUCH</h6> -->
            <!--       <div class="footer-social">
                     <a class="btn-facebook" href="#"><i class="mdi mdi-facebook"></i></a>
                  
                     <a class="btn-instagram" href="#"><i class="mdi mdi-instagram"></i></a>
               
                  
                     <a class="btn-google" href="#"><i class="mdi mdi-google"></i></a>
                  </div> -->
                  </div>
                  <div class="footer-payment-icon">
                     <h6 class="mb-4">We Accept</h6>
                     <img src="frontend_images/footer/esewa.jpg" alt="" width="80px" height="50px">
                       <img src="frontend_images/footer/cod.jpg" alt="" width="80px" height="50px">
                        <img src="frontend_images/footer/visa.png" alt="" width="80px" height="50px">
                         <img src="frontend_images/footer/khalti.png" alt="" width="80px" height="50px">
                         <img src="frontend_images/footer/phonepay.jpg" alt="" width="80px" height="50px">
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Footer -->
      <!-- Copyright -->
      <div class=" text-center footer-bottom" >
         <p class="mt-0 mb-0">&copy; Copyright 2020 <strong style="color: #d14031">Smart Innovation</strong>. All Rights Reserved</p>
     <!--     <small class="mt-0 mb-0">
         Made with <i class="mdi mdi-heart text-danger"></i> by <a target="_blank" href="https://giftechies.com/" class="text-warning">Giftechies</a>
         </small> -->
      </div>



</div>
<%- include('../layouts/frontend/script') %>
</body>

<!-- Mirrored from themes.semicolonweb.com/html/canvas/menu-7.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 11 Jan 2020 08:25:24 GMT -->
</html>